html {
  height: 100%;
  width: 100%;
}
.header{
  color: DarkRed;
  background-color:BurlyWood;
  text-align: center;
  padding: 40px;
}
.thucdon{
  background-color: Coral;
  text-align: center; 
  display: block; 
}
.thucdon a{
  background-color:Coral;
  display: block; 
  padding: 20px; 
}
.thucdon a: hover{
  color: white;
}
.noidung{
  background:White;
  margin: 10px;
}
